<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <servlet>
    <servlet-name>LayananBuku</servlet-name>
    <servlet-class>psm.control.LayananBuku</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LayananAnggota</servlet-name>
    <servlet-class>psm.control.LayananAnggota</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LayananPustakawan</servlet-name>
    <servlet-class>psm.control.LayananPustakawan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LayananPeminjaman</servlet-name>
    <servlet-class>psm.control.LayananPeminjaman</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LayananUsulan</servlet-name>
    <servlet-class>psm.control.LayananUsulan</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LayananBuku</servlet-name>
    <url-pattern>/LayananBuku</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LayananAnggota</servlet-name>
    <url-pattern>/LayananAnggota</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LayananPustakawan</servlet-name>
    <url-pattern>/LayananPustakawan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LayananPeminjaman</servlet-name>
    <url-pattern>/LayananPeminjaman</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LayananUsulan</servlet-name>
    <url-pattern>/LayananUsulan</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
</web-app>
